# Load raw CSV into SQLite DB

In [45]:
import sqlite3
import pandas as pd

In [46]:
# create connection to db and cursor
connection = sqlite3.connect('advisor.db')
cursor = connection.cursor()

In [47]:
# create RESTAURANT table
cursor.execute('drop table if exists RESTAURANT')
cursor.execute('''
    create table RESTAURANT (
        ID integer primary key,
        RESTAURANT_ID text,
        NAME text,
        RANK real,
        ADDRESS text,
        PHONE text,
        AVG_PRICE text,
        URL text,
        INSERT_UPDATE_TIMESTAMP datetime default current_timestamp
    )
''')

# create REVIEW table
cursor.execute('drop table if exists REVIEW')
cursor.execute('''
    create table REVIEW (
        ID integer primary key,
        RESTAURANT_ID text,
        USER text,
        DATE datetime,
        VOTE integer,
        TITLE text,
        TEXT text,
        URL text,
        INSERT_UPDATE_TIMESTAMP datetime default current_timestamp
    )
''')

In [48]:
# load restaurant csv into RESTAURANT table
df_restaurant = pd.read_csv('restaurant.csv', sep='|')
df_restaurant.to_sql('RESTAURANT', connection, if_exists='append', index = False)

# load review csv into REVIEW table
df_restaurant = pd.read_csv('review.csv', sep='|')
df_restaurant.to_sql('REVIEW', connection, if_exists='append', index = False)

34866

# Data analysis

In [31]:
import pandas as pd
import duckdb
import matplotlib

In [3]:
restaurant = pd.read_csv('restaurant.csv',sep='|')
review = pd.read_csv('review.csv',sep='|')

In [4]:
restaurant

,id,name,rank,address,phone,avg_price,url
0,d23867200,Ristorante Ischia,4.5,"Via Melchiorre Gioia 67, 20124 Milano Italia",+393489326874,€€-€€€,https://www.tripadvisor.it/Restaurant_Review-g...
1,d17805000,Mabuhay Restaurant,5.0,"Bastioni di Porta Volta 9, 20121 Milano Italia",+390230065018,€,https://www.tripadvisor.it/Restaurant_Review-g...
2,d24167962,Parea Bistrot,5.0,"Via Vigna 6, 20123 Milano Italia",+390247751500,€€-€€€,https://www.tripadvisor.it/Restaurant_Review-g...
3,d15831930,BLUE M Milano - Bottega Marchigiana,5.0,Via Lanzone 27 Sant'Ambrogio - Università Catt...,+390297386209,€,https://www.tripadvisor.it/Restaurant_Review-g...
4,d6158885,Il Panino,5.0,"Via Laghetto 7, 20122 Milano Italia",+393393838785,€,https://www.tripadvisor.it/Restaurant_Review-g...
...,...,...,...,...,...,...,...
1165,d5848355,Buffet Stazione Centrale,1.5,"Piazza Luigi Di Savoia 1, 20125 Milano Italia",+39026690244,€,https://www.tripadvisor.it/Restaurant_Review-g...
1166,d5483378,Cafe Saint George,1.5,"Via Torino 56, 20123 Milano Italia",+390272003817,€€-€€€,https://www.tripadvisor.it/Restaurant_Review-g...
1167,d4352025,Atmosphere,1.5,"Via Dogana 2, 20123 Milano Italia",+3902862299,€€-€€€,https://www.tripadvisor.it/Restaurant_Review-g...
1168,d7062198,Bar Centrale,1.5,"Piazza Duca D'Aosta Milano Centrale, 20124 Mil...",Sitoweb,€€-€€€,https://www.tripadvisor.it/Restaurant_Review-g...
1169,d10691568,Miniera d'Oro Ristorante Pizzeria Bar,1.0,"Piazza Duca d'Aosta 14 Stazione centrale, 2012...",+390236768270,€€€€,https://www.tripadvisor.it/Restaurant_Review-g...

In [5]:
review

,restaurant_id,user,date,vote,title,text,url
0,d23867200,Davide C,2022-11-27,1,Un po' deluso,Cibo qualitativamente buono ma ridottissimo ne...,https://www.tripadvisor.it/ShowUserReviews-g18...
1,d23867200,claudialN1652TY,2022-09-7,5,Una serata piacevolmente diversa,"Un piccolo locale, immacolato, dove prevale il...",https://www.tripadvisor.it/ShowUserReviews-g18...
2,d23867200,EzioMilanoMilano,2022-11-25,4,Buono e intimo,Buono intimo ..e familiare. Intanto sono stato...,https://www.tripadvisor.it/ShowUserReviews-g18...
3,d23867200,"T6487EHalessandramGuidonia Montecelio, Italia",2022-11-13,5,La nostra serata magica,Ambiente accogliente e di classe. Il pianofort...,https://www.tripadvisor.it/ShowUserReviews-g18...
4,d23867200,"941alainiValcanneto, Italia",2022-11-11,5,Una cena magica,Locale scoperto per caso. Poco distante dalla ...,https://www.tripadvisor.it/ShowUserReviews-g18...
...,...,...,...,...,...,...,...
34861,d10691568,Magellano91,2022-06-19,2,"Niente di che, prezzo alto",Siamo stati a colazione Cornetto e il classico...,https://www.tripadvisor.it/ShowUserReviews-g18...
34862,d10691568,Sergio Z,2022-06-17,1,Pessimo,"Pessimo ristorante, pessima pizza, pessimi pre...",https://www.tripadvisor.it/ShowUserReviews-g18...
34863,d10691568,"Benedetta1515Borgo a Buggiano, Italia",2022-05-19,1,Èda denuncia!!,ORRENDO. 6€ per un cappuccino e cornetto (oltr...,https://www.tripadvisor.it/ShowUserReviews-g18...
34864,d10691568,186milenaf,2022-05-15,1,Uno schifo,"Camerieri scortesissimi e maleducati, ci siamo...",https://www.tripadvisor.it/ShowUserReviews-g18...
34865,d10691568,Giuse_buongustaio-09,2022-04-27,1,Un insulto,"Qualità dei prodotti bassissima, conto salatis...",https://www.tripadvisor.it/ShowUserReviews-g18...

In [18]:
review_rank = duckdb.query('''
    select
        rank,
        count(*) as rank_count
    from
        restaurant 
    group by 1
    order by 1 desc
''').to_df()

# review_rank = review_rank.set_index(review_rank.columns[0])
# review_rank.plot(kind='bar')
review_rank

   rank  rank_count
0   5.0          76
1   4.5         242
2   4.0         250
3   3.5         250
4   3.0         242
5   2.5          79
6   2.0          19
7   1.5          11
8   1.0           1

In [38]:
duckdb.query('''
    with review_per_id as (
        select
            res.id,
            count(*) as review_count
        from
            restaurant res
            left join review rev on res.id=rev.restaurant_id
        group by 1
    )

    select avg(review_count)
    from review_per_id
''').to_df()

   avg(review_count)
0               29.8